:root {
  --dlgDtl-left: 450px;
  --dlgDtl-top: 50px;
  --dlgDtl-height: 500px;
  --dlgDtl-width: 800px;
}

.leaflet-container {
  background: #262626;
}

.panel {
  background-color: #55555563; 
  border: none; 
  padding: 5px; 
} 

.summarydisplay { 
  font-size: 18px; 
  font-family: "Gill Sans Nova", "Arial Nova", Arial, helvetica, serif; 
  text-align: center;
  padding: 0;
  font-variant-caps: all-small-caps;
  font-weight: bold
}

.summaryfigure {
  font-variant-caps: normal;
  font-size: 22px;
}

.confirmedcases {
  color: #ff3737;
}

.deaths {
  color: #ffaf37;
}

.recoveries {
  color: #0aa000;
}

.lastupdated[id="lastUpdated"] div {
  color: #b9b9b9;
  font-size: 18px;
}

.btn-custom {
  padding: 3px 7px;
}

.recalculating {
  opacity: 1;
}

.leaflet-control-layers-expanded {
  background-color: #55555563;
  color: #b9b9b9;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
   background-color: #105652;
}

#copyrightmsg {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
  padding: 0 5px;
  color: #333;
  margin: 0;
}

.nav > li > a {
  line-height: 0.6; 
  padding: 9px 5px;
  color: #8fa9a7;
  font-size: 13px;
  border-width: 1px;
  border-style: solid;
  border-bottom-style: none;
}

.nav-pills li.active a {
  background-color: #105652;
}

/* Selectize input control */
.selectize-input{
  padding: 3px 9px;
  line-height: 20px;
  min-height: 28px;
}

.table-sym {
  cursor: pointer;
  text-decoration: none;
  color: #105652;
}

.table-sym:hover, .table-sym:focus {
  color: #8fa9a7;
  text-decoration: none;
}

.table-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a.table-link:hover {
  font-weight: bolder;
  text-decoration: none;
  color: inherit;
}

.table-delta, .table-delta-pos, .table-delta-neg {
  font-size: 11px;
}

.table-delta-pos {
  color: #ef9696;
}

.table-delta-neg {
  color: #96efa5;
}

/* Scrollbar elements */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: #b5b5b500; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }

/* Dropdown menu (table sort) */
#ddnSortCriteria .btn-primary {
  background-color: #105652;
  display: inline-block;
  position: fixed;
  left: 275px;
  top: 130px;
  height: 24px;
  padding: 2px 2px;
  z-index:1;
  border-color: #105652;
  outline-color: #105652;
}

#ddnSortCriteria .dropdown-menu {
  left: 129px;
}

.ddnSelected {
  font-weight: bold !important;
}

/* Main table formatting */
#tblStats {
  color:white;
  /*font-family: "Gill Sans Nova", "Arial Nova", Arial, helvetica, serif; */
}

#tblStats tr > td { border-top: 1px solid #dddddd52; color: white; }
#tblStats td:nth-child(1) { width: 8px; text-align: right !important; vertical-align: middle; }
#tblStats td:nth-child(2) { width: max-content; text-align: left; vertical-align: middle;} 
#tblStats td:nth-child(3) { text-align: right !important; vertical-align: middle; white-space: nowrap;}
#tblStats td:nth-child(4) { width: 25px; text-align: right !important; vertical-align: middle; font-size: 11px; white-space: nowrap; }

/* Detail info dialog */
#dlgDetailInfo {
  top: var(--dlgDtl-top);
  left: var(--dlgDtl-left);
  height: var(--dlgDtl-height);
  width: var(--dlgDtl-width);
  display: block;
} 

/* Close button in the detail dialog */
#btnDlgClose {
  display: inline-block;
  position: fixed;
  height: 15px;
  width: 15px;
  top: calc(var(--dlgDtl-top) + 0.5 * 15px);
  left: calc(var(--dlgDtl-left) + var(--dlgDtl-width) - 1.5 * 15px);
  color: gray;
  z-index: 1;
  cursor: pointer;
}

#siteLogo {
  height: 108px;
  border-radius: 4px;
}

#dlgDetailTop {
  height: 30%;
  width: 100%;
  display: block;
  position: relative;
}

.dtlCountryLabel, .dtlLastUpdated {
  color: white;
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.dtlLastUpdated {
  font-size: 12px;
  padding-bottom: 10px;
}

ul.dtlStats {
  color: white;
  text-align: center;
  padding-inline-start: 0;
}

.dtlStats li {
  display: inline-block;
  position: relative;
  top: 15px;
  padding: 0 6px;
  text-align: center;
}

.dtlLabel {
  font-size: 10px;
  position: relative;
  width: 100%;
}

.dtlValue {
  font-size: 15px;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    /*position: relative;*/
    top: 15px;
    padding: 1px 12px;
    height: 25px;
    border-radius: 19px;
    width: 141px;
    vertical-align: middle;
    background: #444a4a47;
    text-align: center;
    border-color: #086969;
}

.dtlDelta {
  font-size: 10px;
  border-style: none;
  vertical-align: middle;
  border-color: #086969;
}

.fa-stack {
  text-align: center;
  top: -2px;
}

.fa-stack .fa-caret-down {
  position: absolute;
  bottom: 2px;
}

.fa-stack .fa-caret-up {
  position: absolute;
  top: 4px;
}