.panel {
  background-color: #55555563; 
  border: none; 
  padding: 5px; 
} 

.summarydisplay { 
  font-size: 18px; 
  font-family: "Gill Sans Nova", "Arial Nova", Arial, helvetica, serif; 
  text-align: center;
  padding: 0;
  font-variant-caps: all-small-caps;
  font-weight: bold
}

.summaryfigure {
  font-variant-caps: normal;
  font-size: 22px;
}

.confirmedcases {
  color: #ff3737;
}

.deaths {
  color: #ffaf37;
}

.recoveries {
  color: #0aa000;
}

.lastupdated[id="lastUpdated"] div {
  color: #b9b9b9;
  font-size: 18px;
}

.btn-custom {
  padding: 3px 7px;
}

.recalculating {
  opacity: 1;
}

.leaflet-control-layers-expanded {
  background-color: #55555563;
  color: #b9b9b9;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
   background-color: #105652;
}

#copyrightmsg {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
  padding: 0 5px;
  color: #333;
  margin: 0;
}

.nav li a {
    padding: 11px 8px;
    line-height: 0.6; 
}

.nav > li > a {
  line-height: 0.6; 
  padding: 11px 8px;
  color: #8fa9a7;
}

.nav-pills li.active a {
  background-color: #105652;
}

